h1 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-style: italic;
  font-size: 250%;
  color: black;
}

a {
    text-decoration: none;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 12px;
}

input {
  line-height: 36px;
}

.profileButton {
    background-color: green;
    color: white;
    padding: 12px;
    font-family: 'Roboto', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.top-left { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.homePosts {
  border-style:solid;
  border-width: 3px;
  margin:5px;
  padding:5px;
}
div:nth-child(even).homePosts{
    background-color: grey;
}

